.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  body{
    background-image: linear-gradient(rgb(245, 121, 197),rgb(69, 241, 229));
  }
  #button{
    background-color: rgb(224, 121, 195);
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    width: 13ch;

    
  }
  #form{
    border-radius: 20px;
  }
  table{
    background-color: rgb(252, 116, 229);
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: large;
    font-size: 20px;
    color: black;


  }